* {
    scroll-behavior: smooth;
}

/********************************* C O M P O N E N T S *********************************/
/************************************* N A V B A R *************************************/

.navbar {
    transition: top 0.4s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    /* z-index prevents dropdown questions from overlaping the navabar */
    display: flex;
}

/* Home, Intro, Java, ... */
.menu {
    align-items: center;
    justify-content: right;
}

/* .dropdown-menu.side-bar .nav-link {
    padding-left: 10px;
    color: #333;
} */

/************************************** P A G E S **************************************/
body {
    font-family: 'Open Sans', Arial, sans-serif;
}

/* Pushes down the content so Navbar does not cover it */
#space-on-top-of-page {
    margin-top: 80px;
}

/* titles of sections */
h2 {
    text-align: center;
}

/* code box with */
pre {
    margin: auto;
    width: 80%;
}

/********************************* A B O U T | P A G E *********************************/

.about-page>h3 {
    text-align: center;
}

.about-page-me {
    display: flex;
}

/* pic of me */
.about-right>img {
    border-radius: 50%;
}