:root {
    --bg: #111812;
    --text: #e0e0e0;
    --text-heading: #fff;
    --border: #444;
    --accent: #56a5eb;
    --btn-bg: #23272a;
    --btn-text: #fff;
    --btn-border: #444;
    /* UCLA blue: #357abd, might be a nice color to add */
}


html {
    color-scheme: dark;
}

* {
    scroll-behavior: smooth;
}

#root,
.App {
    background: transparent !important;
}

body {
    background: var(--bg);
    overflow-y: auto;
    color: var(--text);
    font-family: "Inter", "Segoe UI", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-heading);
}

h1,
h2,
h3,
h4 {
    line-height: 1.3;
    margin-bottom: 1em;
    font-weight: 600;
}

p {
    margin-bottom: 1.25em;
}

.center-text {
    text-align: center;
}

blockquote {
    border-left: 4px solid #374151;
    margin: 1em auto;
    padding-left: 1em;
    color: #d1d5db;
    font-style: italic;
}

.centerLatex {
    margin: 10px auto;
    width: 100%;
    text-align: center;
}

/********************************* C O M P O N E N T S *********************************/
/*************************** N A V B A R | C O M P O N E N T ***************************/

.navbar {
    transition: top 0.4s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    /* z-index prevents dropdown questions from overlaping the navabar */
    display: flex;
}

/* Home, Intro, Java, ... */
.menu {
    align-items: center;
    justify-content: right;
}

/*************************** F O O T E R | C O M P O N E N T ***************************/


/******************* A C C O R D I O N | F R O M | B O O T S T R A P *******************/
/* On its way out: accordion will be replaced with quiz questions */

.elements-in-accordion {
    display: flex;
    flex-direction: column;
}

.child-of-accordion {
    width: 100%;
}

/* overrides default settings of <code> elements inside accordion button  */
/* default settings cause weird spacing issues */
.accordion-button code {
    padding: 2px 4px;
    /* Makes the code element more readable */
    background-color: #f4f4f4;
    /* Optional: light background for contrast */
    border-radius: 4px;
    /* Optional: rounded edges for a polished look */
    margin-top: 4px;
    margin-left: 3px;
    margin-right: 3px;
}

/************************************** P A G E S **************************************/
/*********************** A P P L I E S | T O | A L L | P A G E S ***********************/

/* Pushes down the content so Navbar does not cover it */
#space-on-top-of-page {
    margin-top: 40px;
}

h1 {
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.5rem;
    text-align: center;
}

/* titles of sections */
h2 {
    text-align: left;
}

/* code box width & accordion width */
pre,
.accordion-item {
    margin: auto;
    width: 100%;
}

/* Bolds the question in q & a accordion components */
.accordion-header>button {
    font-weight: 500;
}

.container {
    background: var(--bg);
    max-width: 900px !important;
}

.center {
    margin: auto;
    width: fit-content;
}

.img-in-reading {
    width: 100%;
    margin-bottom: 10px;
}

img.img-in-reading {
    margin-bottom: 40px;
}

.code-snippet {
    overflow: hidden;
    max-width: 900px;
}

.center-img {
    display: block;
    margin: auto;
    max-width: 100%;
}

.html-table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    /* borders are shared */
    width: fit-content;
}

.html-table th,
.html-table td {
    border: 1px solid #333;
    padding: 8px;
}

/* outside div of <p> for text that needs to be centered and important */
.focus-text {
    display: flex;
    justify-content: center;
}

.focus-text p {
    text-align: center;
    border: solid #fff 1px;
    padding: 10px;
    width: fit-content;
    border-radius: 15px;
    font-size: 1.2em;
    font-weight: bold;
}

/* affects code in readings and questions */
p>code,
li>code {
    background: #1e293b;
    padding: 0.2em 0.4em;
    border-radius: 4px;
    font-family: "Fira Code", "JetBrains Mono", monospace;
}

/* affects code in just questions */
.modal-question pre {
    /* border: 2px solid red; */
    border-radius: 12px;
    background: #1d1f21;
    padding: 12px;
}

a {
    color: #60a5fa;
    /* blue */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #93c5fd;
}

table {
    background: #23272a;
    color: #e0e0e0;
}

td,
.MuiTableCell-root {
    border-color: #444 !important;
    color: #e0e0e0 !important;
    background: #23272a;
}

th {
    background: #23272a !important;
    color: #fff !important;
}

tbody tr:nth-child(odd) {
    background: #20232a;
}

tbody tr:hover {
    background-color: var(--bg) !important;
    color: #fff;
    transition: background 0.2s;
}

@media (min-width: 980px) {
    .img-in-reading {
        width: 72%;
        margin: auto;
        display: block;
    }
}

/***************************** F L A S H C A R D | P A G E *****************************/

.fake-nav-bar {
    color: #fff;
    background-color: #222;
}

.fake-nav-bar>ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

h3 {
    text-align: center;
}

/* buttons */

.buttonRow {
    width: 400px;
    margin: auto;
}

.justify-center {
    display: flex;
    justify-content: space-around;
}

.btn {
    font-size: 1.5em;
    border-radius: 8px;
    border: 1px solid black;
    padding: 0.6em 1.2em;
    width: 200px;
    height: 70px;
    display: block;
    text-align: center;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    margin-top: 15px;
    width: 100px;
}

button:hover {
    border-color: #2f2f2f;
}

/********************************* A B O U T | P A G E *********************************/

.about-page>h3 {
    text-align: center;
}

.about-page-me {
    display: flex;
}

/* pic of me */
.about-right>img {
    border-radius: 50%;
}

/* weird jump at 995px, maybe a built-in bootstrap thing? - actually deleted it. Does this still mess shit up? */

@media (max-width: 1000px) {
    .about-page-me {
        flex-direction: column;
    }

    .about-right>img {
        width: 80%;
        display: block;
        margin: auto;
    }
}

/********************************** Q U I Z | P A G E **********************************/

.questions {
    border: solid 1px #ccc;
    padding: 10px;
    border-radius: 5px;
}

.questions li {
    margin: 1em;
    margin-left: 0;
    padding: 0.5em;
}

.quiz-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.quiz-page li {
    list-style-type: none;
    color: #fff;
}

input[type="radio"] {
    margin-right: 5px;
}

.quiz-page input:hover,
.quiz-page label:hover {
    cursor: pointer;
}

.quiz-page label {
    color: #fff;
}

.choice-container {
    display: flex;
    border: 0.1rem solid rgb(86, 165, 235, 0.25);
    width: 100%;
    height: 100%;
    align-items: center;
    margin: 5px;
    flex-direction: row;
}

.choice-prefix {
    padding: 1.5rem 2.5rem;
    background-color: #56a5eb;
    color: #fff;
    font-weight: bolder;
}

.choice-text {
    padding-left: 10px;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
}

.correct {
    background-color: #00d397;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
}

.wrong {
    background-color: #ff4a4a;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
}

.quiz-cards {
    list-style: none;
    text-decoration: none;
    color: #fff;
}

#questions-footer-result {
    font-size: 3em;
    text-align: center;
    margin: auto;
    margin-top: 5px;
    padding: 10px;
    border: 5px solid rgba(0, 0, 0, 0.65);
    border-radius: 20px;
    color: #fff;
    text-transform: uppercase;
}

.result-correct {
    background-color: #00d397;
}

.result-incorrect {
    background-color: #ff4a4a;
}

.answer-description {
    border-radius: 20px;
    margin-top: 5px;
    padding: 20px;
}

.answer-description-correct {
    border: solid 5px #00d397;
    background-color: rgba(0, 211, 151, 0.15);
}

.answer-description-incorrect {
    border: solid 5px #ff4a4a;
    background-color: rgba(255, 74, 74, 0.15);
}

/* Styling radio buttons on quiz */
input[type="radio"],
input[type="checkbox"] {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px !important;
    overflow: hidden;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
}

label {
    color: #fff;
    display: flex;
    align-items: center;
    max-width: 100%;
    gap: 0.5em;
    line-height: 1.4;
    padding-top: 5px;
    padding-bottom: 5px;
}

label:hover {
    cursor: pointer;
}

/* circle for radio button */
input[type="radio"]+label::before {
    content: '';
    display: inline-block;
    flex-shrink: 0;
    height: 1.25em;
    width: 1.25em;
    border: solid 1px #e0e0e0;
    border-radius: 50%;
    margin-right: 0.5em;
    vertical-align: text-top;
}

/* square for checkbox button */
input[type="checkbox"]+label::before {
    content: '';
    display: inline-block;
    flex-shrink: 0;
    height: 1.25em;
    width: 1.25em;
    border: solid 1px #666;
    border-radius: 20%;
    vertical-align: middle;
    margin-right: 0.5em;
    color: #fff;
}

label::after {
    margin-bottom: 5px;
}

input[type="radio"]:checked+label {
    color: #fff;
}

/* marks the user's choice */
input[type="radio"]:checked+label::before {
    background: radial-gradient(0.75em circle at center, currentColor 50%, transparent 55%);
}

input[type="checkbox"]:checked+label::before {
    border-width: 1.5px;
    border-color: #e0e0e0;
    background-image: url("/src/assets/quiz/check.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 130%;
    color: #e0e0e0;
}

.questions li label {
    font-size: 1.1em;
}

@media (max-width: 650px) {

    /* .questions-footer {
        display: flex;
    } */

    .questions-footer>.buttons {
        display: flex;
        justify-content: center;
    }

    #questions-footer-result {
        font-size: 1em;
        border-width: 2px;
    }

    .answer-description {
        margin: 5px;
        border-width: 2px;
        padding: 10px;
    }
}

/******************* S E L E C T | A | Q U E S T I O N | F I L T E R *******************/

/* Prevents blue outline when dropbox is focus/active */
.MuiOutlinedInput-notchedOutline {
    border-color: white !important;
    box-shadow: none !important;
    outline: none !important;
}

.filter {
    border: 1px solid white;
    text-align: center;
}

@media(max-width: 700px) {
    .filter {
        flex-direction: column;
    }

    .filter-buttons {
        display: flex;
        flex-direction: row;
    }
}

@media (max-width: 500px) {
    .filter {
        flex-direction: column;
    }

    .filter-buttons {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

/*************** S E L E C T | A | Q U E S T I O N | P A G I N A T I O N ***************/

@media (max-width: 600px) {
    .rows-per-page {
        display: none !important;
    }
}

/********************** C A R O U S E L | O N | Q U I Z | P A G E **********************/

.carousel-parent {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

.carousel {
    width: 233.6px;
    height: 280px;
    perspective: 500px;
    transform-style: preserve-3d;
}

.card-container {
    position: absolute;
    width: 100%;
    height: 100%;
    transform:
        rotateY(calc(var(--offset) * 50deg)) scaleY(calc(1 + var(--abs-offset) * -0.4)) translateZ(calc(var(--abs-offset) * -30rem)) translateX(calc(var(--direction) * -5rem));
    filter: blur(calc(var(--abs-offset) * 1rem));
    transition: all 0.3s ease-out;
}

.card {
    width: 100%;
    height: 100%;
    padding: 2rem;
    background-color: hsl(280deg, 40%, calc(100% - var(--abs-offset) * 50%));
    border-radius: 1rem;
    color: #9CA3AF;
    text-align: justify;
    transition: all 0.3s ease-out;

    h2 {
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
        margin: 0 0 0.7em;
        color: #e0e0e0;
    }

    p,
    h2 {
        transition: all 0.3s ease-out;
        opacity: var(--active);
    }
}

.nav {
    color: white;
    font-size: 5rem;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    z-index: 2;
    cursor: pointer;
    user-select: none;
    background: unset;
    border: unset;

    &.left {
        transform: translateX(-100%) translatey(-50%);
    }

    &.right {
        right: 0;
        transform: translateX(100%) translatey(-50%);
    }
}

/* Hide left/right arrow for mobile */
@media (max-width: 650px) {
    .carousel .nav {
        display: none;
    }
}

/************************* M O D A L | O N | Q U I Z | P A G E *************************/

.modal-for-questions ul,
.modal-for-questions li {
    list-style-type: none !important;
    padding-left: 0 !important;
    margin-left: 0 !important;
    cursor: pointer;
}

/* Restore bullets for answer descriptions inside modal */
.answer-description ul,
.answer-description li {
    list-style-type: disc !important;
    margin-left: 3px !important;
    cursor: auto !important;
}

.answer-description pre {
    border-radius: 12px;
    background: #1d1f21;
    padding: 12px;
    margin-bottom: 5px;
}

/****************************** I D E | C O M P O N E N T ******************************/

.code-example {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 50px;
}

.coding,
.display {
    height: 400px;
}

@media (max-width: 768px) {

    .coding,
    .display {
        height: 100%;
    }

    .code-example {
        min-height: 500px;
        height: 600px;
        margin-bottom: 50px;
    }
}

/********************************** W O R K S P A C E **********************************/

.split {
    display: flex;
    flex-direction: row;
    height: 100vh;
    /* overflow-y: hidden; */
    /* width: 100vw; */
    /* overflow: hidden; */
}

.split>* {
    height: 100%;
    overflow: auto;
}

/* 
/*  */

.gutter {
    background-color: #23272a;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
}

.gutter.gutter-vertical {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
    cursor: row-resize;
}

.gutter:hover {
    background-color: #357abd;
}

.header-bar {
    display: flex;
    justify-content: space-between;
    max-width: 250px;
}

.buffer-space {
    margin-left: 5px;
}

.clickable {
    cursor: pointer;
}

.example-card pre {
    background-color: hsla(0, 0%, 100%, 0.1);
    border-radius: 0.5rem;
    color: rgba(239, 241, 246, 0.75);
    font-size: 0.98rem;
    line-height: 1.25rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 1rem;
    white-space: pre-wrap;
}

.hide-scrollbar {
    overflow: hidden !important;
}

.testing-space {
    height: calc(100vh - 94px);
}