* {
    scroll-behavior: smooth;
}

.navbar {
    transition: top 0.4s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    /* z-index prevents dropdown questions from overlaping the navabar */
    display: flex;
}

/* Home, Intro, Java, ... */
.menu {
    align-items: center;
    justify-content: center;
}

body {
    font-family: 'Open Sans', Arial, sans-serif;
}

/* Pushes down the content so Navbar does not cover it */
#space-on-top-of-page {
    margin-top: 80px;
}

/* titles of sections */
h2 {
    text-align: center;
}

/* .dropdown-menu.side-bar .nav-link {
    padding-left: 10px;
    color: #333;
} */

/* .btn {
    font-weight: 900;
} */
/* 
svg {
    margin-bottom: 4px;
} */

/* footer {
    margin-bottom: 20px;
} */


/********************************* A B O U T | P A G E *********************************/

/* .about-left {
    float: left;
}

.about-right {
    float: right;
} */

.about-page>h3 {
    text-align: center;
}

.about-page-me {
    display: flex;
}

/* pic of me */
.about-right>img {
    border-radius: 50%;
}